* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(249, 237, 223);
    font-family: "PT Sans", sans-serif;
    /* font-weight: 700; */
    /* font-style: normal; */
}

/* container style */
.container {
    background-color: rgb(197, 225, 216);
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* header section */
header {}

.profile-image {
    height: 100px;
    width: 100px;
    border: 2px solid rgb(221, 218, 214);
    border-radius: 50%;
    float: left;
}

.profile-bio {
    float: left;
    padding: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(47, 87, 87);
}

.header-contact {
    float: right;
    padding: 30px;
}

.header-contact p a {
    text-decoration: none;
    color: teal;
    font-weight: bold;
}

.header-contact p a:hover {
    text-decoration: underline;
    color: rgb(43, 43, 32);
}

.div-clear {
    clear: both;
}

hr {
    border: 3px solid black;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}

/* personal section styles */
#personal-info {}

.content {
    margin-bottom: 30px;
}

.left-div {
    width: 30%;
    float: left;

}

.right-div {
    width: 70%;
    float: right;
}

/* common horizental rule */
.common-hr {
    border: 1px solid black;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}